<<<<<<< HEAD
$COLOR_LIGHT:#fff;
$COLOR_DARK: #252525;
$COLOR_ACTION: #22c74e;
$COLOR_ACTION_HOVER:#25db56;
$COLOR_FOCUS: #fff600;
=======
$COLOR_LIGHT:#fff;
$COLOR_DARK: #252525;
$COLOR_ACTION: #22c74e;
$COLOR_ACTION_HOVER:#25db56;
$COLOR_FOCUS: #fff600;
>>>>>>> dd7d44a6cbe8a1bbf88e54d95c7510ae013d6599
$COLOR_BG: #c0e3ec;