$COLOR_PRIMARY: rgb(212, 212, 212);
$COLOR_LIGHT: #eeedec;
$COLOR_DARK: #252525;
$COLOR_SECONDARY: #eee4ac;
$COLOR_S_LIGHT: #f3f0cb;
$COLOR_S_DARK: #ccccb9;

// $COLOR_PRIMARY: rgb(212, 212, 212);
// $COLOR_LIGHT: #fafafa;
// $COLOR_DARK: #252525;
// $COLOR_SECONDARY: #eee4ac;
// $COLOR_S_LIGHT: #f3f0cb;
// $COLOR_S_DARK: #424232;