@import "./../../_theme/colors.scss";

.viewer {
  &__wrapper {
    margin: 3rem auto 2rem;
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 5rem);
  }

  &__photo {
    height: 100%;
    width: auto;
  }
}

@media (orientation: portrait) {
  .viewer__photo {
    height: auto;
    width: 100%;
  }
}